{% extends 'base.html' %}
{% block title %}タスク一覧{% endblock %}

{% block content %}
  <h1 class="mb-4">タスク一覧</h1>

<!-- 検索機能 -->
  <h5 class="text-decoration-none d-inline-block mt-1 mb-3" data-bs-toggle="collapse" data-bs-target="#collapseSearch" role="button" aria-expanded="false" aria-controls="collapseDetail{{ todo.id }}">
    検索機能 ▼
  </h5>

  <div class="collapse" id="collapseSearch">
    <form method="get">
      <div class="mb-3">
        <label for="id_title" class="form-label">タスク名</label>
        {{ form.title }}
      </div>
      <div class="mb-3">
        <label for="id_status" class="form-label">タスク状態</label>
        {{ form.status }}
      </div>
      <div class="d-flex flex-wrap mb-3">
        <div class="me-3">
          <label for="id_urgency" class="form-label">緊急度</label>
          {{ form.urgency }}
        </div>
        <div class="me-3">
            <label for="id_importance" class="form-label">重要度</label>
            {{ form.importance }}
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="id_updated_at" class="form-label">更新日時：</label>
          {{ form.updated_from }} ～ {{ form.updated_to }}
        </div>
        <div class="mb-3">
          <label for="id_created_at" class="form-label">作成日時：</label>
          {{ form.created_from }} ～ {{ form.created_to }}
        </div>
      </div>
      <div>
        <div class="mb-3">
          <label for="id_due_date" class="form-label">締切日時：</label>
          {{ form.due_date_from }} ～ {{ form.due_date_to }}
        </div>
        <div class="mb-3">
          <label for="id_completed_at" class="form-label">完了日時：</label>
          {{ form.completed_from }} ～ {{ form.completed_to }}
        </div>
      </div>

      <div class="action-buttons align-self-center pb-2 mb-2">
        <div class="d-flex gap-2 align-items-center">
          <button type="submit" name="action" value="search" class="btn btn-info"><i class="bi bi-search"></i> 検索</button>
          <button type="submit" name="action" value="clear" class="btn btn-secondary" formnovalidate><i class="bi bi-x-circle"></i> クリア</button>
        </div>
      </div>
    </form>
  </div>

  <div class="d-flex gap-2 align-items-center pb-2 mb-1">
    <a href="{% url 'todos:create' %}" class="btn btn-primary"><i class="bi bi-plus-lg"></i> 新規作成</a>
    <h5 class="ms-2 mt-2 pb-1">件数： {{ count }} 件</h5>
  </div>

  {% if todos %}
    <div class="todo-list">
      {% for todo in todos %}
        <div class="card mb-3 shadow-sm mb-1" id="todo-{{ todo.id }}">
          <div class="card-body py-2">
            <!-- タスク名＋ボタン -->
            <div class="d-flex justify-content-between align-items-start index-border-bottom pb-2 mb-1">
              <h5 class="card-title align-self-center mt-2">{{ todo.title }}</h5>
              <!-- 完了・取消・編集・削除ボタン -->
              <div class="action-buttons align-self-center">
                {% if todo.status == 1 %}
                  <form action="{% url 'todos:uncomplete' todo.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary"><i class="bi bi-arrow-return-left"></i> 取消</button>
                  </form>
                {% else %}
                  <form action="{% url 'todos:complete' todo.id %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success"><i class="bi bi-check-square-fill"></i> 完了</button>
                  </form>
                {% endif %}
                <a href="{% url 'todos:update' todo.id %}" class="btn btn-primary"><i class="bi bi-pencil-square"></i> 編集</a>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal{{ todo.id }}"><i class="bi bi-trash3-fill"></i> 削除</button>
              </div>
            </div>

            <!-- 基本情報 -->
            <div class="card-text border-bottom mb-1">
              <div class="mb-1">タスク状態：{{ todo.get_status_display }}</div>
              <div class="d-flex flex-wrap mt-1">
                <div class="me-3 mb-1">緊急度：{{ todo.get_urgency_display }}</div>
                <div class="me-3 mb-1">重要度：{{ todo.get_importance_display }}</div>
              </div>
              <div class="d-flex flex-wrap">
                <div class="mb-1">進捗率：{{ todo.progress_percent|default_if_none:'-' }}％（{{ todo.actual_value|default_if_none:'-' }} / {{ todo.target_value|default_if_none:'-' }}{{ todo.unit_display }}）</div>
              </div>
              <div class="progress mb-2" role="progressbar" aria-valuenow="{{ todo.progress_percent|default_if_none:'0' }}" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar {{ todo.get_progressbar_color }}" style="width: {{ todo.progress_percent|default_if_none:'0' }}%"></div>
              </div>
            </div>

            <!-- 詳細情報 -->
            <a class="text-decoration-none text-secondary small d-inline-block mt-2" data-bs-toggle="collapse" data-bs-target="#collapseDetail{{ todo.id }}" role="button" aria-expanded="false" aria-controls="collapseDetail{{ todo.id }}">
              詳細情報 ▼
            </a>
            <div class="collapse" id="collapseDetail{{ todo.id }}">
              <div class="card-text d-flex flex-wrap small text-muted mt-1">
                <div class="me-4 mb-1 detail-info-min-width">更新日時：{{ todo.updated_at|date:"Y/m/d H:i" }}</div>
                <div class="mb-1 detail-info-min-width">作成日時：{{ todo.created_at|date:"Y/m/d H:i" }}</div>
              </div>
              <div class="card-text d-flex flex-wrap small text-muted">
                <div class="me-4 mb-1 detail-info-min-width">
                  締切日時：{% if todo.due_date %}{{ todo.due_date|date:"Y/m/d H:i" }}{% else %}（未設定）{% endif %}
                </div>
                <div class="mb-1 detail-info-min-width">
                  完了日時：{% if todo.completed_at %}{{ todo.completed_at|date:"Y/m/d H:i" }}{% else %}（未完了）{% endif %}
                </div>
              </div>
            </div>

          </div>
        </div>
      {% endfor %}

      <!-- モーダル -->
      {% block task_modal %}
        {% for todo in todos %}
          <!-- 削除ボタン押下時のモーダル表示 -->
          <div class="modal fade" id="deleteModal{{ todo.id }}" tabindex="-1" aria-labelledby="deleteModalLabel{{ todo.id }}" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteModalLabel{{ todo.id }}">本当にこのタスクを削除しますか？</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p class="text-danger small fw-bold mb-2" role="alert">※削除すると元に戻せません！</p>
                  <h5>{{ todo.title }}</h5>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x-lg"></i> キャンセル</button>
                  <form action="{% url 'todos:delete' todo.id %}" method="post">
                    {% csrf_token %}
                    <button class="btn btn-danger"><i class="bi bi-trash3-fill"></i> 削除</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endblock %}

    </div>
  {% else %}
    {% if request.GET.action != "search" %}<h3>登録しているタスクがありません。</h3>{% endif %}
  {% endif %}
{% endblock %}