/* PC画面のサイズ調整 */
main.container {
  max-width: 1000px;
}

/* 完了したものは背景をグレーにする */
.todo-completed{
  background-color: #e0e0e0;
}

/* 詳細情報の日付の幅の最小値 */
.detail-info-min-width {
    min-width: 200px;
  }

/* タスクの情報ごとの区切りの線の太さと色 */
.index-border-bottom {
  border-bottom: 2px solid #666;
}
